# SQLAlchemy
This notebook shows an example of how to use SQLAlchemy module in python to perform CRUD operations in a SQL database (PostgreSQL in this case). Also you will see the link with pandas package.

## 1. Libraries importation

In [1]:
# For DB connection and queries handling
from sqlalchemy import create_engine, text, types

# For credentials
from configparser import ConfigParser

# Pandas
import pandas as pd

# For exit if needed
import sys

# For paths
import os

## 2. Create the engine (DB connection)
SQLAlchemy gives us a few options for managing database connections, but they all begin with the concept of an engine. An "engine" is a Python object representing a database. The syntax for creating an engine is refreshingly simple. The method `create_engine()` requires one positional argument, which is a URI representing the connection information to connect to a database. This URI has the following structure:

`[DB_TYPE]+[DB_CONNECTOR]://[USERNAME]:[PASSWORD]@[HOST]:[PORT]/[DB_NAME]`

Where:
- `DB_TYPE`: is the DB type, such as MySQL (mysql), PostgreSQL (postgresql), SQLite (sqlite), Oracle (oracle), etc.
- `DB_CONNECTOR`: is the database connection library (dialect) you chose to use. For PostgreSQL: psycopg2, pg8000.
- `USERNAME` & `PASSWORD`: the user and password to access the DB.
- `HOST` & `PORT`: the DB URL and port.
- `DB_NAME`: the name of the DB you want to access.

In [2]:
# Parse data from the .ini file
config = ConfigParser()

# Path to the .ini file
ini_path = os.path.join(os.getcwd(), 'db_data.ini')

# Read the configuration file
if os.path.isfile(ini_path):
    config.read(ini_path)
else:
    print('ERROR: Please, check the db_data.ini file.')
    sys.exit()

# Load the credentials
USER = config['PostgreSQL']['user']
PASS = config['PostgreSQL']['pass']
HOST = config['PostgreSQL']['host']
PORT = config['PostgreSQL']['port']
DB_NAME = config['PostgreSQL']['db_name']

try: 
    # Connect to the DB
    engine = create_engine(
        f"postgresql+psycopg2://{USER}:{PASS}@{HOST}:{PORT}/{DB_NAME}"
    )
except:
    print('Something went wrong with the DB connection')
    sys.exit()

## 3. CRUD Operations with SQLAlchemy
Once the connection is stablished, there are 2 ways to perform CRUD operations:
- Directly with the `engine` object (called explicit connectionless execution), meaning no `commit()` is needed.
- With a [scopped session](https://docs.sqlalchemy.org/en/14/orm/contextual.html#unitofwork-contextual), which needs the `commit()` execution after the query statement.

In this notebook we'll use conectionless execution, but in the practice it's a very little difference between the two methods.

The `text()` method escapes dangerous characters found in queries in order to avoid problems with the execution.

### 3.1 Create
Fisrt, let's create the tables we are going to work with.

For this, we'll use the `with` statement for [context management](https://docs.python.org/3/reference/compound_stmts.html#with). It allows us to safely perform queries without letting open the connection to the DB once finished the query.

In [3]:
# Context management
with engine.connect() as conn:
    
    # Define the query
    q = """
        CREATE TABLE IF NOT EXISTS 
            aerolineas
            (
                id_aerolinea INT NOT NULL,
                nombre_aerolinea VARCHAR(20),
                PRIMARY KEY(id_aerolinea)
            );
        """

    # Execute it
    conn.execute(text(q))

    # Define the query
    q = """
        CREATE TABLE IF NOT EXISTS 
            aeropuertos
            (
                id_aeropuerto INT NOT NULL,
                nombre_aeropuerto VARCHAR(20),
                PRIMARY KEY(id_aeropuerto)
            );
        """

    # Execute it
    conn.execute(text(q))

    # Define the query
    q = """
        CREATE TABLE IF NOT EXISTS 
            movimientos
            (
                id_movimiento INT NOT NULL,
                descripcion VARCHAR(20),
                PRIMARY KEY(id_movimiento)
            );
        """

    # Execute it
    conn.execute(text(q))

    # Define the query
    q = """
        CREATE TABLE IF NOT EXISTS
            vuelos
            (
                id_aerolinea INT NOT NULL,
                id_aeropuerto INT NOT NULL,
                id_movimiento INT NOT NULL,
                dia DATE
            );
        """

    # Execute it
    conn.execute(text(q))

Now, let's insert some rows in each table.

In [4]:
# Context management
with engine.connect() as conn:
    
    conn.execute(
        text(
            """
            INSERT INTO 
                aerolineas 
            VALUES
                (1, 'Volaris'), 
                (2, 'Aeromar'), 
                (3, 'Interjet'), 
                (4, 'Aeromexico');
            """
        )
    )

    conn.execute(
        text(
            """
            INSERT INTO 
                aeropuertos 
            VALUES
                (1, 'Benito Juarez'), 
                (2, 'Guanajuato'), 
                (3, 'La Paz'), 
                (4, 'Oaxaca');
            """
        )
    )

    conn.execute(
        text(
            """
            INSERT INTO 
                movimientos 
            VALUES
                (1, 'Salida'), 
                (2, 'Llegada');
            """
        )
    )

    conn.execute(
        text(
            """
            INSERT INTO 
                vuelos 
            VALUES
                (1, 1, 1, '2021-05-02'), 
                (2, 1, 1, '2021-05-02'), 
                (3, 2, 2, '2021-05-02'), 
                (4, 3, 2, '2021-05-02'), 
                (1, 3, 2, '2021-05-02'), 
                (2, 1, 1, '2021-05-02'), 
                (2, 3, 1, '2021-05-04'), 
                (3, 4, 1, '2021-05-04'), 
                (3, 4, 1, '2021-05-04');
            """
        )
    )

### 3.2 Read
Let's visualize the entire tables and then let's ask some questions.

In [5]:
# Context management
with engine.connect() as conn:

    # Table aerolíneas
    result = conn.execute(
        text(
            """
            SELECT 
                * 
            FROM 
                aerolineas;
            """
        )
    )

    print('Table: Aerolíneas')
    print(f'There were {result.rowcount} rows selected.')
    print(tuple(result.keys()))
    for row in result.fetchall():
        print(row)

    # Table aeropuertos
    result = conn.execute(
        text(
            """
            SELECT 
                * 
            FROM 
                aeropuertos;
            """
        )
    )
    print('\nTable: Aeropuertos')
    print(f'There were {result.rowcount} rows selected.')
    print(tuple(result.keys()))
    for row in result.fetchall():
        print(row)


    # Table movimientos
    result = conn.execute(
        text(
            """
            SELECT 
                * 
            FROM 
                movimientos;
            """
        )
    )
    print('\nTable: Movimientos')
    print(f'There were {result.rowcount} rows selected.')
    print(tuple(result.keys()))
    for row in result.fetchall():
        print(row)


    # Table vuelos
    result = conn.execute(
        text(
            """
            SELECT 
                id_aerolinea, 
                id_aeropuerto,
                id_movimiento,
                TO_CHAR(dia, 'DD/MM/YYYY') AS dia
            FROM 
                vuelos;
            """
        )
    )
    
    print('\nTable: Vuelos')
    print(f'There were {result.rowcount} rows selected.')
    print(tuple(result.keys()))
    for row in result.fetchall():
        print(row)

Table: Aerolíneas
There were 8 rows selected.
('id_aerolinea', 'nombre_aerolinea')
(1, 'Volaris')
(2, 'Aeromar')
(3, 'Interjet')
(4, 'Aeromexico')
(1, 'Volaris')
(2, 'Aeromar')
(3, 'Interjet')
(4, 'Aeromexico')

Table: Aeropuertos
There were 4 rows selected.
('id_aeropuerto', 'nombre_aeropuerto')
(1, 'Benito Juarez')
(2, 'Guanajuato')
(3, 'La Paz')
(4, 'Oaxaca')

Table: Movimientos
There were 2 rows selected.
('id_movimiento', 'descripcion')
(1, 'Salida')
(2, 'Llegada')

Table: Vuelos
There were 9 rows selected.
('id_aerolinea', 'id_aeropuerto', 'id_movimiento', 'dia')
(1, 1, 1, '02/05/2021')
(2, 1, 1, '02/05/2021')
(3, 2, 2, '02/05/2021')
(4, 3, 2, '02/05/2021')
(1, 3, 2, '02/05/2021')
(2, 1, 1, '02/05/2021')
(2, 3, 1, '04/05/2021')
(3, 4, 1, '04/05/2021')
(3, 4, 1, '04/05/2021')

¿What is the name of the airport that has had the most movement during the year?

In [6]:
# Context management
with engine.connect() as conn:

    result = conn.execute(
        text(
            """
            SELECT 
                nombre_aeropuerto
            FROM 
                aeropuertos
            INNER JOIN 
                vuelos
            ON 
                vuelos.id_aeropuerto = aeropuertos.id_aeropuerto
            GROUP BY 
                nombre_aeropuerto
            HAVING 
                COUNT(vuelos.id_movimiento) = 
                (
                    SELECT COUNT(id_movimiento) AS mov_count
                    FROM vuelos
                    GROUP BY id_aeropuerto
                    ORDER BY mov_count DESC 
                    LIMIT 1
                );
            """
        )
    )

    print(tuple(result.keys())[0])
    for row in result.fetchall():
        print(row[0])

nombre_aeropuerto
Benito Juarez
La Paz

¿What is the airline name you have made greatest number of flights during the year?

In [7]:
# Context management
with engine.connect() as conn:

    result = conn.execute(
        text(
            """
            SELECT 
                nombre_aerolinea
            FROM 
                aerolineas
            INNER JOIN 
                vuelos
            ON 
                vuelos.id_aerolinea = aerolineas.id_aerolinea
            GROUP BY 
                nombre_aerolinea
            HAVING 
                COUNT(vuelos.id_movimiento) = 
                (
                    SELECT COUNT(id_movimiento) AS mov_count
                    FROM vuelos
                    GROUP BY id_aerolinea
                    ORDER BY mov_count DESC 
                    LIMIT 1
                );
            """
        )
    )

    print(tuple(result.keys())[0])
    for row in result.fetchall():
        print(row[0])

nombre_aerolinea

¿On which day have there been the greatest number of flights?

In [8]:
# Context management
with engine.connect() as conn:
    
    result = conn.execute(
        text(
            """
            SELECT 
                TO_CHAR(dia, 'DD/MM/YYYY') AS dia
            FROM 
                vuelos
            GROUP BY 
                dia
            HAVING 
                COUNT(dia) = 
                (
                    SELECT COUNT(dia)
                    FROM vuelos 
                    GROUP BY dia
                    ORDER BY dia ASC
                    LIMIT 1
                );
            """
        )
    )

    print(tuple(result.keys())[0])
    for row in result.fetchall():
        print(row[0])

dia
02/05/2021

### 3.3 Update
Now, let's see an example of how to update some existing values.

In [9]:
# Context management
with engine.connect() as conn:

    # Values before updating
    result = conn.execute(
        text(
            """
            SELECT
                nombre_aeropuerto
            FROM
                aeropuertos
            WHERE
                id_aeropuerto = 4;
            """
        )
    )

    print('Before updating')
    print(tuple(result.keys())[0])
    for row in result.fetchall():
        print(row[0])

    # Update
    conn.execute(
        text(
            """
            UPDATE 
                aeropuertos 
            SET
                nombre_aeropuerto = 'Monterrey'
            WHERE
                id_aeropuerto = 4;
            """
        )
    )

    # Values before updating
    result = conn.execute(
        text(
            """
            SELECT
                nombre_aeropuerto
            FROM
                aeropuertos
            WHERE
                id_aeropuerto = 4;
            """
        )
    )

    print('\nAfter updating')
    print(tuple(result.keys())[0])
    for row in result.fetchall():
        print(row[0])

Before updating
nombre_aeropuerto
Oaxaca

After updating
nombre_aeropuerto
Monterrey

### 3.4 Delete
Once finished the operations, let's drop the tables.

In [10]:
# Context management
with engine.connect() as conn:

    # Delete all tables
    conn.execute(text("DROP TABLE IF EXISTS aerolineas CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS aeropuertos CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS movimientos CASCADE;"))
    conn.execute(text("DROP TABLE IF EXISTS vuelos CASCADE;"))

## 4. Close the connection
The `with` statement automatically closes the connection when the block ends, using the `close()` method of the Connection object. For mor information, see [the official docs](https://docs.sqlalchemy.org/en/14/core/connections.html#basic-usage).

## 5. Operations with Pandas and SQLAlchemy
Now let's see how to perform the same operations with pandas library.

For this, start creating the same tables structures in DataFrames and then write the records with `to_sql()` method ([see docs here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html)). In the `dtype` parameter we declare the SQLAlchemy `types` of each column (more info [here](https://docs.sqlalchemy.org/en/14/core/type_basics.html#generic-types)).

Then, we'll retrieve the data from the recently created tables by using the `read_sql()` method ([see docs](https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html)).

In [11]:
# Context management
with engine.connect() as conn:
    
    # table structure in a DataFrame
    aerolineas = pd.DataFrame(data={
            'id_aerolinea': [1, 2, 3, 4],
            'nombre_aerolinea': ['Volaris', 'Aeromar', 'Interjet', 'Aeromexico']
    })

    # Create the table and insert the values
    aerolineas.to_sql(
        name='aerolineas',
        con=conn,
        if_exists='append',
        index=False,
        index_label='id_aerolinea',
        dtype={
            'id_aerolinea': types.Integer(),
            'nombre_aerolinea': types.String()
        },
        method='multi'
    )

    # Get all the values of the column 'nombre_aerolinea' in the table
    result = pd.read_sql(
        sql='SELECT * FROM aerolineas;',
        con=conn,
        columns=['nombre_aerolinea']
    )

In [12]:
# Visualize the table
result

   id_aerolinea nombre_aerolinea
0             1          Volaris
1             2          Aeromar
2             3         Interjet
3             4       Aeromexico